@import url(./css/forms.css);
@import url(./css/general.css);
@import url(./css/header.css);
@import url(./css/inicio.css);
@import url(./css/simulaciones.css);
@import url(./css/caracteristicas.css);
@import url(./css/certificados.css);
@import url(./css/puntos.css);
@import url(./css/eventos.css);
@import url(./css/equipo.css);
@import url(./css/contacto.css);
@import url(./css/descargar.css);
@import url(./css/dashboard.css);
@import url(./css/footer.css);